.bad-guy-surround .bad-guy,
.bad-guy-hologram .bad-guy,
.bad-guy-hologram .good-guy {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 45%;
  left: 0;
  animation-duration: 7s;
  animation-timing-function: ease;
}

.bad-guy-hologram .good-guy {
  transform: translate(-30%, -30%);
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-name: fade;
}
.bad-guy-hologram .good-guy:nth-child(8) {
  transform: translate(30%, 30%);
}
.bad-guy-hologram .good-guy:nth-child(9) {
  transform: translate(37%, -20%);
}
.bad-guy-hologram .good-guy:nth-child(10) {
  transform: translate(0%, -30%);
}
.bad-guy-hologram .good-guy:nth-child(11) {
  transform: translate(10%, 30%);
}
.bad-guy-hologram .good-guy:nth-child(12) {
  transform: translate(-25%, 35%);
}
.bad-guy-hologram .bad-guy {
  transform: translate(-20%, -20%);
}
.bad-guy-hologram .bad-guy:nth-child(2) {
  transform: translate(20%, 20%);
}
.bad-guy-hologram .bad-guy:nth-child(3) {
  transform: translate(27%, -10%);
}
.bad-guy-hologram .bad-guy:nth-child(4) {
  transform: translate(0%, -20%);
}
.bad-guy-hologram .bad-guy:nth-child(5) {
  transform: translate(10%, 20%);
}
.bad-guy-hologram .bad-guy:nth-child(6) {
  transform: translate(-20%, 25%);
}
.bad-guy-surround .bad-guy {
  transform: translate(-20%, -20%);
  animation-name: move1;
}
.bad-guy-surround .bad-guy:nth-child(2) {
  transform: translate(20%, 20%);
  animation-name: move2;
}
.bad-guy-surround .bad-guy:nth-child(3) {
  transform: translate(27%, -10%);
  animation-name: move3;
}
.bad-guy-surround .bad-guy:nth-child(4) {
  transform: translate(0%, -20%);
  animation-name: move4;
}
.bad-guy-surround .bad-guy:nth-child(5) {
  transform: translate(10%, 20%);
  animation-name: move5;
}
.bad-guy-surround .bad-guy:nth-child(6) {
  transform: translate(-20%, 25%);
  animation-name: move6;
}
@keyframes move1 {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-20%, -20%);
  }
}

@keyframes move2 {
  from {
    transform: translate(50%, 50%);
  }

  to {
    transform: translate(20%, 20%);
  }
}
@keyframes move3 {
  from {
    transform: translate(35%, -60%);
  }

  to {
    transform: translate(27%, -10%);
  }
}
@keyframes move4 {
  from {
    transform: translate(0%, -60%);
  }

  to {
    transform: translate(0%, -20%);
  }
}
@keyframes move5 {
  from {
    transform: translate(-40%, 60%);
  }

  to {
    transform: translate(10%, 20%);
  }
}
@keyframes move6 {
  from {
    transform: translate(-60%, 40%);
  }

  to {
    transform: translate(-20%, 25%);
  }
}
@keyframes fade {
  from {
    opacity: 0;
    filter: blur(30px);
  }

  to {
    opacity: 1;
    filter: blur(0px);
  }
}
